{{#each events}}
  <li class="item">
    <h2 class="name">{{name}}</h2>
    <p class="info">
      <i class="icon fas fa-map-marker-alt"></i>{{location}}
    </p>
    <p class="info">
      <i class="icon fas fa-clock"></i>{{start}}
    </p>
    <p class="info">
      <i class="icon fas fa-user"></i>{{speaker}}
    </p>
  </li>
{{/each}}
